.boardContainer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.w90 {
    width: 90%;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.d-flex {
    display: flex;
}

.marginLR16 {
    margin-left: 16px;
    margin-right: 16px;
}

.widthTaskBox {
    width: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 12px;
    padding: 12px;
}

.boardTable {
    justify-content: space-between;
}

.categoryBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    background-image: url(../img/lock.png);
    background-position: 290px 8px; 
    background-repeat: no-repeat;
}

.taskContentBox {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.popUpBox:hover {
    cursor: pointer;
    transform: rotate(7deg);
    /* transform-origin: top left; */
}

.popUpBox:active {
    cursor: grabbing;
}

.emptyTask {
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.05);
    border: 1px dashed lightgray;
    padding: 12px;
    border-radius: 12px;
}

.categoryBox {
    color: white;
    padding: 6px 16px;
    border-radius: 12px;;
}