/* ------------------------neu */
/* CSS-Klasse für den Schatteneffekt, die Hintergrundfarbe und die Größe beim Hovern */
.hover-effect {
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Schatteneffekt definieren */
  background-color: whitesmoke; /* Hintergrundfarbe festlegen */
}
.hover-farbe {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Schatteneffekt definieren */
  background-color: rgb(42, 54, 71); /* Hintergrundfarbe festlegen */
  transform: scale(1.03); /* Größe ändern */
}

/* Zusätzliche CSS-Klasse für das übergeordnete <li>-Element der Benutzerzeile */
.user-list-item {
  padding-top: 8px;
  list-style-type: none; /* Entfernen der Aufzählungspunkte */
  /* margin-left: 20px;  Einrückung für die Benutzerzeile */
  cursor: pointer; /* Ändern des Cursors, um anzuzeigen, dass das Element klickbar ist */
  transition: transform 0.3s ease; /* Animationsübergang für die Transformation */
}

/* ------------------------------------------- */

.back-to-contacts {
  display: none;
}
/* ---------------------- header ------------------------------ */
.header {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  position: fixed;
  height: 96px;
  padding: 20px 40px 20px 348px;
  gap: 0px;

  opacity: 0px;

  /*  */
  box-shadow: 0px 4px 0px 0px #0000001a;
}

.header-headline {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 16px;
}

.header-right-position {
  margin-right: 0px;
}

.help-icon {
  margin: 20px 8px 0 300px;
}

.user-name {
  font-size: 22px;
  color: #29abe2;
  font-weight: 800;
  margin-top: 12px;
}

.user-icon {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headlineUserInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

.headlineUserInfo h1 {
  font-size: 61px;
  font-weight: 700;
}

.headlineUserInfo h2 {
  font-size: 27px;
  font-weight: 400;
}

.blueLineUserInfo {
  width: 4px;
  height: 50px;
  background-color: #29abe2;
}

.user-info-contactInformation h2 {
  font-size: 20px;
  font-weight: 400;
}

/* ---------------------- line --------------------------- */
.line {
  width: 100%;
  height: 2px;
  background-color: rgb(27, 25, 25);
  margin-left: 232px;
  margin-bottom: auto;
}

/* ------------------------------------- */
.UsersList-btn {
  display: flex;
}

/*  */
.userList-userInfo {
  display: flex;
}

main {
  width: 100%;
  display: flex;
}

#addUserBtn {
  width: 352px;
  height: 56px;
  background-color: #2a3647;
  margin-bottom: 24px;
  border-radius: 8px;
  border-color: #2a3647;
  font-size: 24px;
}

.frame40 {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

/* --------------------------- */

.initials-circle {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.user-details {
  flex-grow: 1;
}

/* ------------essay-------- */
/* Stil für die Benutzerliste */
.user-list-container {
  display: flex;
}

#userList {
  width: 100%;
  height: calc(100vh - 185px);
  margin-top: 145px;
  margin-left: 16px;
  /* Linker Abstand beibehalten */
  gap: 0px;
  opacity: 0px;
  overflow-y: auto;
  /* Vertikales Scrollen aktivieren */
  overflow-x: hidden;
  cursor: pointer;
  padding: 40px;
}

hr {
  width: 100%;
  /* Breite der horizontalen Linie anpassen */
  margin-left: 1%;
  /* Linker Abstand der horizontalen Linie anpassen */
}

/* Stil für die Benutzerliste */
.user-list {
  flex: 1;
  overflow-y: auto;
  /* Scrollen aktivieren */
  padding: 10px;
  position: relative;
  /* relative Positionierung für Kinder */
}

/* CSS für den Benutzerinfobereich */
#userInfo {
  margin-left: 42vw;
  margin-top: 120px;
  width: 100% !important;
  margin-right: 40px;
}

/* Stil für die Initialen-Kreise */
.initials-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}

.initials-circle-info {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 50px;
  border: solid 2px white;
}

.selected {
  background-color: #f0f0f0;
  /* Hintergrundfarbe für ausgewählten Benutzer */
  cursor: pointer;
  /* Zeiger-Cursor */
}

/* Stil für die Linie zwischen den Benutzern */
.user-list hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.overlay-content1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  animation: slide-in 0.8s both;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.closeIcon {
  padding: 5px;
  cursor: pointer;
}

.closeIcon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.circle2-user {
  display: flex;
  gap: 10px;
}

.user-name-info {
  margin: 16px;
  font-size: 47px;
  font-weight: 500;
}

.img-info-edit-delete {
  margin-top: -16px;
  margin-left: 16px;
  cursor: pointer;
}

.user-mail-info {
  margin: 16px 0;
}

a {
  text-decoration: none;
}

.img-edit {
  color: black;
  width: 62px;
  height: 24px;
}

.img-edit:hover {
  scale: 1.02;
  content: url(../img/editHover.png);
}

.img-delete {
  margin-left: 8px;
}

.img-delete:hover {
  scale: 1.02;
  content: url(../img/deleteHover.png);
}

/* --------------------- */

.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.overlay-content2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  animation: slide-in 0.8s both;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.addUserDaten {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.editUserDaten {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.editLook {
  width: 453px;
  height: 592px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 8px 0px 0px 8px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 30px;
  margin-bottom: 8vh;
}

.center input {
  width: 90%;
  height: 50px;
  border-radius: 8px;
  gap: 8px;
  border: 1px solid #d1d1d1;
  padding-left: 8px;
}

.center input:hover {
  border-color: #29abe2;
}

.contact-popup-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #2a3647;
  color: white;
  gap: 20px;
  width: 30vw;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding-left: 5%;
}

.contact-popup-left img {
  width: 50px;
}

.contact-popup-left h3 {
  font-weight: lighter !important;
}

.contact-popup-left h1 {
  font-size: 40px;
}

.blue-line-add-Contact {
  width: 10vw;
  height: 4px;
  background-color: #29abe2;
}

/* -------------------- */

.initialsEdit {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------- */

.addPersonPic {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------ img -------------------------- */
.imgCheck {
  margin-top: -8px;
}

.imgClose {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.imgCancel {
  margin-top: -4px;
  width: 20px;
  height: 20px;
}

.iconPerson {
  background: url("/img/person.png");
  background-size: 20px;
  background-position: 95%;
  background-repeat: no-repeat;
}

.iconMail {
  background: url("/img/mail.png");
  background-size: 20px;
  background-position: 95%;
  background-repeat: no-repeat;
}

.iconCall {
  background: url("/img/call.png");
  background-size: 20px;
  background-position: 95%;
  background-repeat: no-repeat;
}

.iconLock {
  background: url("/img/lock.png");
  background-size: 20px;
  background-position: 95%;
  background-repeat: no-repeat;
}

/* ------------------------------------ End ---------------------------- */
.delete-save-btn {
  display: flex;
  justify-content: space-between;
  width: 92%;
}

.cancel-createContact-btn {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  margin-right: 8px;
  width: auto;
  height: auto;
  background-color: white;
  border: 1px solid #2a3647;
  color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  background-color: white !important;
}

.cancel-btn {
  margin-right: 8px;
  width: auto;
  height: auto;
  background-color: white;
  border: 1px solid #2a3647;
  color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  background-color: white !important;
}

.cancel-btn:hover img {
  content: url(../img/cancel_lightblue.png);
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(128, 189, 246);
}

/* ------------------------------------------------------------------------- */
.navi-all {
  display: flex;
}

.navi {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  font-size: 16px;
}

.addUserButtonDiv {
  position: fixed;
  background-color: white;
  width: 40vw;
  height: 200px;
  z-index: 2;
}

.btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 56px;
  background-color: #2a3647;
  margin-bottom: 24px;
  border-radius: 8px;
  border-color: #2a3647;
  font-size: 24px;
  margin-left: calc(50% - 15vw);
  margin-top: 120px;
}

.person_add {
  width: 32px;
  height: 32px;
  margin-top: -8px;
}

.addNewUserPic {
  margin-bottom: -1200px;
  margin-left: -480px;
}

li {
  word-wrap: break-word;
}

.contactLeft {
  position: fixed;
  background-color: white;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  /* margin-top: -185px; */
  top: 0px;
  background-color: white;
  height: 100vh;
  width: 40vw;
  z-index: 1;
}

/* -------------------media queries */

@media (max-width: 1250px) {
  .headlineUserInfo h1 {
    font-size: 50px;
  }

  .headlineUserInfo h2 {
    font-size: 24px;
  }

  .blueLineUserInfo {
    height: 45px;
  }
}

@media (max-width: 1150px) {
  .headlineUserInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 30px 0;
  }

  .headlineUserInfo h2 {
    margin-top: 0;
    font-size: 20px;
  }

  .blueLineUserInfo {
    width: 10vw;
    height: 4px;
  }
}

@media (max-width: 1100px) {
  .initials-circle-info {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
  }

  .user-name-info {
    font-size: 35px;
  }
}

@media (max-width: 1000px) {
  .circle2-user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-name-info {
    font-size: 30px;
  }

  .img-info-edit-delete img {
    height: 20px;
    width: auto;
  }

  .btn {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .overlay-content1 {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    gap: 0;
  }

  .overlay-content2 {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    gap: 0;
  }

  .contact-popup-left {
    width: calc(70vw - 10%);
    padding-left: 10%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 9px;
    padding-top: 10vh;
    padding-bottom: 15vh;
  }

  .contact-popup-left img {
    display: none;
  }

  .addPersonPic {
    position: relative;
    top: -80px;
  }

  .initialsEdit {
    position: relative;
    top: -80px;
  }

  .addUserDaten {
    width: 70vw;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: -5vh;
  }

  .editUserDaten {
    width: 70vw;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: -7vh;
  }

  .imgClose {
    position: relative;
    top: -350px;
  }

  .imgClose img {
    content: url(../img/close_white.png);
  }
}

@media (max-width: 725px) {
  .img-info-edit-delete {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .img-info-edit-delete {
    margin-left: 16px;
  }

  .contactLeft {
    width: 300px;
  }

  #userInfo {
    margin-left: 340px;
  }

  .addUserButtonDiv {
    width: 300px;
  }

  .btn {
    font-size: 16px;
    width: 200px;
    margin-left: calc(50% - 100px);
  }

  .btn img {
    height: 30px;
    width: auto;
  }

  .circle2-user {
    padding-left: 0 !important;
  }

  #userList {
    height: calc(100vh - 265px);
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .contactLeft {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }

  #userInfo {
    margin-left: 0px;
    margin-top: 120px;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    overflow-y: scroll;
  }

  .frame40 {
    display: none;
    margin-top: 0;
  }

  .addUserButtonDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 90vw;
    margin-left: 0;
  }

  .overlay-content1 {
    width: 90vw;
  }

  .overlay-content2 {
    width: 90vw;
  }

  .contact-popup-left {
    width: calc(90vw - 10%);
  }

  .addUserDaten {
    width: 90vw;
  }

  .editUserDaten {
    width: 90vw;
  }

  .headlineUserInfo {
    display: none;
  }

  .back-to-contacts {
    display: block;
    cursor: pointer;
    margin-top: 50px;
  }
  
}

@media (max-height: 750px) {
  .contact-popup-left {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .addUserDaten {
    top: -15vh;
  }

  .center {
    gap: 15px;
  }
}

@media (max-height: 400px) {
  .overlay-content1 {
    overflow-y: scroll;
  }

  .overlay-content2 {
    overflow-y: scroll;
  }

  .imgClose {
    position: relative;
    top: -280px;
  }

  .addUserButtonDiv {
    height: 120px;
  }

  .btn {
    margin-top: 40px;
  }

  #userList {
    margin-top: 80px;
  }

  #userInfo {
    margin-top: 20px;
  }
}
