/* ---------------------- header ------------------------------ */

.header {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  position: fixed;
  height: 96px;
  padding: 20px 40px 20px 348px;
  gap: 0px;

  opacity: 0px;

  /*  */
  box-shadow: 0px 4px 0px 0px #0000001a;
}

.header-headline {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 16px;
}

.header-right-position {
  margin-right: 0px;
}

.help-icon {
  margin: 20px 8px 0 300px;
}

.user-name {
  font-size: 22px;
  color: #29abe2;
  font-weight: 800;
  margin-top: 12px;
}

.user-icon {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.UsersList-btn {
  display: flex;
}

/*  */
.userList-userInfo {
  display: flex;
}

main {
  width: 100%;
  display: flex;
}

#addUserBtn {
  width: 352px;
  height: 56px;
  background-color: #2a3647;
  margin-bottom: 24px;
  border-radius: 8px;
  border-color: #2a3647;
  font-size: 24px;
}

.frame40 {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.frame-overlay3 {
  width: 213px;
  height: 104px;
  margin-top: 8px;
}
.contactsImg-closeImg {
  display: flex;
  justify-content: space-between;
}

/* --------------------------- */

.initials-circle {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.user-details {
  flex-grow: 1;
}

.initials-circle-edit {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.user-details {
  flex-grow: 1;
}

/* ------------essay-------- */
/* Stil für die Benutzerliste */
.user-list-container {
  display: flex;
  /*  height: 60vh; 
  cursor: pointer;

  /*  */
}

/* CSS für den Benutzerlistenbereich */
/* #userList {
  width: 456px;
  height: 928px;
  margin-top: -24px;
  left: 232px;
  gap: 0px;
  opacity: 0px;
  margin-left: 180px;
  overflow-y: auto; /* Vertikales Scrollen aktivieren *
}
 */
#userList {
  width: 100%;
  height: 100vh;
  margin-top: 145px;
  margin-left: 16px;
  /* Linker Abstand beibehalten */
  gap: 0px;
  opacity: 0px;
  overflow-y: auto;
  /* Vertikales Scrollen aktivieren */
  overflow-x: hidden;
  height: 76vh;
  cursor: pointer;
  padding: 40px;
}

hr {
  width: 100%;
  /* Breite der horizontalen Linie anpassen */
  margin-left: 1%;
  /* Linker Abstand der horizontalen Linie anpassen */
}

/* Stil für die Benutzerliste */
.user-list {
  flex: 1;
  overflow-y: auto;
  /* Scrollen aktivieren */
  padding: 10px;
  position: relative;
  /* relative Positionierung für Kinder */
}

/* CSS für den Benutzerinfobereich */
#userInfo {
  margin-left: 42vw;
  margin-top: 120px;
  width: 100% !important;
  margin-right: 40px;
}
/* ------------- initials-circle-info ------- */
/* Stil für die Initialen-Kreise */
.initials-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}

.initials-circle-info {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 50px;
  margin-right: 10px;
}

.initials-circle-info2 {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 50px;
  margin-right: 10px;
}
.initials-circle-info3 {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 50px;
  margin-right: 10px;
}
/* ------------------------------------- */
.selected {
  background-color: #f0f0f0;
  /* Hintergrundfarbe für ausgewählten Benutzer */
  cursor: pointer;
  /* Zeiger-Cursor */
}

/* Stil für die Linie zwischen den Benutzern */
.user-list hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.circle2-user {
  display: flex;
  gap: 10px;
}

.user-name-info {
  margin: 16px;
  font-size: 47px;
  font-weight: 500;
}
.user-name-info3 {
  margin: 16px;
  font-size: 47px;
  font-weight: 500;
}

.img-info-edit-delete {
  margin-top: -16px;
  margin-left: 16px;
}

.user-mail-info {
  margin: 16px 0;
}

a {
  text-decoration: none;
}

.img-edit {
  color: black;
  width: 62px;
  height: 24px;
}

.img-edit:hover {
  scale: 1.02;
}

.img-delete {
  margin-left: 8px;
}

.img-delete:hover {
  scale: 1.02;
}
.imgMenuOption {
  position: fixed;
  margin-bottom: -144px;
  width: 56px;
  height: 56px;
  padding-left: 376px;
}
/* --------------------- */

/* ---------------------------- Overlay */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(226, 222, 222, 0.002);
  z-index: 2;
  cursor: pointer;

  animation: slide-in 0.8s both;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
.overlay-content1 {
  border-radius: 5px;
  display: flex;
  width: 1212px;
  height: 550px;

  margin-top: 11%;
  margin-left: 6%;
  /*   top: -2901px;
  left: -1731px; */
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Schatteneffekt für das Overlay 
  */
  background-color: white;
  padding: 20px;
  z-index: 2;
}
.overlay-content2 {
  display: flex;
  width: 1212px;
  height: 550px;

  margin-top: 11%;
  margin-left: 6%;
  /*   top: -2901px;
  left: -1731px; */
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Schatteneffekt für das Overlay 
  */
}
.overlay3 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(226, 222, 222, 0.002);
  z-index: 2;
  cursor: pointer;
  z-index: 1;
  animation: slide-in 0.1s both;
}
.small-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(226, 222, 222, 0.002);
  z-index: 2;
  cursor: pointer;

  animation: slide-in 0.8s both;
}
.small-overlay-content {
  width: 116px;
  height: 100px;
  margin-top: -3267px;
  margin-left: 9478px;
  padding: 10px 0px 0px 0px;
  gap: 0px;
  border-radius: 20px 20px 0px 20px;
  opacity: 0px;
}
/* ---------------------------------------------END */
.editLook {
  width: 467px;
  height: 592px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 8px 0px 0px 8px;
}

.addUserDaten {
  margin-top: 4%;
  margin-left: 4%;
}

/* -------------------- */
.editUserDaten {
  margin-top: 16px;
  margin-left: 24px;
}

.initialsEdit {
  margin-top: 216px;
  margin-left: 40px;
}

/* -------------------------- */
input {
  width: 422px;
  height: 50px;
  border-radius: 8px;
  /*  */

  gap: 8px;
  opacity: 0px;
}
/* ------------------------------------ ID -------------------------- */
#editUserName {
  padding-left: 8px;
}

#newUserName {
  padding-left: 8px;
}

#editUserEmail {
  padding-left: 8px;
}

#newUserEmail {
  padding-left: 8px;
}

#editUserPhone {
  padding-left: 8px;
}

#newUserPhone {
  padding-left: 8px;
}

#editUserPassword {
  padding-left: 8px;
}
/* ------------------------------------ END -------------------------- */
/* ------------------------------------ img -------------------------- */
.imgCheck {
  margin-top: -8px;
}

.imgCancel {
  margin-top: -4px;
  width: 20px;
  height: 20px;
}

.imgClose {
  margin: 0px 376px 80px;
}
.imgCloseUserInfo {
  padding-left: 24px;
}

.iconPerson {
  background: url("/img/person.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}

.iconMail {
  background: url("/img/mail.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}

.iconCall {
  background: url("/img/call.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}

.iconLock {
  background: url("/img/lock.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}
.addPersonPic {
  margin-top: 200px;
  margin-left: 24px;
  /*  */
  width: 120px;
  height: 120px;
  top: 204px;
  left: 550px;
  gap: 0px;
  border-radius: 70px 0px 0px 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
}

/* ------------------------------------ End ---------------------------- */
/* ------------------------------------ btn ---------------------------- */
.btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 56px;
  background-color: #2a3647;
  margin-bottom: 24px;
  border-radius: 8px;
  border-color: #2a3647;
  font-size: 24px;
  margin-left: calc(50% - 15vw);
  margin-top: 120px;
}
.delete-save-btn {
  display: flex;
}

.cancel-createContact-btn {
  display: flex;
}

.delete-btn {
  margin-right: 8px;
  width: auto;
  height: auto;
}

.cancel-btn {
  margin-right: 8px;
  width: auto;
  height: auto;
}

.save-btn {
  width: auto;
  height: auto;
}

a {
  color: rgb(128, 189, 246);
}
/* ------------------------------------ End ---------------------------- */
/* ------------------------------------------------------------------------- */
.navi-all {
  display: flex;
}

.navi {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  font-size: 16px;
}

.addUserButtonDiv {
  position: fixed;
  background-color: white;
  width: 40vw;
  height: 200px;
}

.person_add {
  width: 32px;
  height: 32px;
  margin-top: -8px;
}

.addNewUserPic {
  display: none;
  width: 56px;
  height: 56px;
  margin-top: 758px;
  margin-left: 356px;
}

li {
  word-wrap: break-word;
}

.contactLeft {
  position: fixed;
  background-color: white;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  /* margin-top: -185px; */
  top: 0px;
  background-color: white;
  height: 100vh;
  width: 40vw;
  z-index: 1;
}
.overlay-content3 {
  width: 560px;
  height: 364px;
  margin-left: 968px;
  margin-top: 240px;
  background-color: #88ef54;
  padding: 8px 40px;
  cursor: pointer;
}

/* -------------------media queries */
@media (max-width: 1800px) {
  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    width: 1212px;
    height: 550px;

    margin-top: 120px;
    margin-left: 240px;
  }

  .imgClose {
    margin-left: 422px;
  }
}
.editLook {
  width: 467px;
}
/* --------------------------------1500*/
@media (max-width: 1500px) {
  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    width: 1212px;
    height: 550px;

    margin-top: 120px;
    margin-left: 40px;
  }

  .imgClose {
    margin-left: 422px;
  }
}
.editLook {
  width: 467px;
}
/* -------------------------- 1340 ------------------- */
@media (max-width: 1340px) {
  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    width: 1000px;
    height: 550px;

    margin-top: 120px;
    margin-left: 40px;
    /*   top: -2901px;
  left: -1731px; */
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Schatteneffekt für das Overlay 
  */
    background-color: white;
    padding: 20px;
    z-index: 2;
  }
  input {
    width: 364px;
  }
}
.imgClose {
  margin-left: 320px;
}
.addUserDaten {
  margin-top: 4%;
  margin-left: 2%;
}
/*  */

/* -------------------------------- 1290 -------------------- */

/* --------------------------------  1100 ---------------------------- */
@media (max-width: 1100px) {
  @media (max-width: 1340px) {
    .overlay-content1 {
      border-radius: 5px;
      display: flex;
      width: 900px;
      height: 550px;

      margin-top: 120px;
      margin-left: 40px;
      /*   top: -2901px;
    left: -1731px; */
      gap: 0px;
      border-radius: 30px 0px 0px 0px;
      opacity: 0px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      /* Schatteneffekt für das Overlay 
    */
      background-color: white;
      padding: 20px;
      z-index: 2;
    }
    input {
      width: 364px;
    }
  }
  .imgClose {
    margin-left: 320px;
  }
  .addUserDaten {
    margin-top: 4%;
    margin-left: 2%;
  }
  .editLook {
    width: 300px;
  }
  /*  */
  .initials-circle-info {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
  }

  .user-name-info {
    font-size: 35px;
  }
}
/* ---------------------- 1000 */
@media (max-width: 1000px) {
  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    width: 800px;
    height: 550px;
  }
  input {
    width: 300px;
  }
  .imgClose {
    margin-left: 280px;
  }
  /*  */
  .circle2-user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-name-info {
    font-size: 30px;
  }

  .img-info-edit-delete img {
    height: 20px;
    width: auto;
  }

  .btn {
    font-size: 18px;
  }
}
/* ------------------------------900 */
@media (max-width: 900px) {
  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    width: 700px;
    height: 550px;
  }
  input {
    width: 300px;
  }
  .imgClose {
    margin-left: 280px;
  }
  .editLook {
    width: 240px;
  }
}
/* --------------------------- 800 */
@media (max-width: 800px) {
  .overlay-content1 {
    border-radius: 5px;
    margin-left: 8px;
    width: 640px;
    height: 550px;
  }
  input {
    width: 240px;
  }
  .imgClose {
    margin-left: 216px;
  }
  .editLook {
    width: 240px;
  }
  .cancel-createContact-btn {
    width: 40px;
  }
}
/* --------------------------- 725 */
@media (max-width: 725px) {
  .img-info-edit-delete {
    margin-left: 0;
  }
}
/* --------------------------------------- 700 */
@media (max-width: 700px) {
  .overlay-content1 {
    width: 496px;
    height: 760px;
    margin-top: 120px;
    margin-left: 40px;
    gap: 49px;
    border-radius: 30px;
    opacity: 0px;

    @keyframes slide-in {
      from {
        transform: translateY(
          100%
        ); /* Startposition außerhalb des Bildschirms */
      }
      to {
        transform: translateY(0); /* Endposition oben auf dem Bildschirm */
      }
    }
  }

  @media (max-width: 700px) {
    .overlay-content1 {
      animation: slide-in 0.3s both; /* Animation von unten nach oben */
    }
  }
  /* ------------------------------------------------- */
  /* @media (max-width: 700px) {
  .overlay-content1 {
    width: 496px;
    height: 760px;
    margin-top: 120px;
    margin-left: 40px;
    gap: 49px;
    border-radius: 30px;
    opacity: 0;
    animation: slide-in 0.5s forwards; /* Animation von unten nach oben *
  }

  @keyframes slide-in {
    from {
      transform: translateY(100%); /* Startposition außerhalb des Bildschirms *
    }
    to {
      transform: translateY(0); /* Endposition oben auf dem Bildschirm *
      opacity: 1;
    }
  }
 */
  /* ---------------------------------------------------- */

  .addPersonPic {
    position: fixed;
    z-index: 2; /* Stellen Sie sicher, dass das Element über anderen Elementen liegt */
    margin-top: 88px;

    width: 120px;
    height: 120px;
    left: 184px;
    gap: 0px;
    border-radius: 70px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  .editLook {
    position: fixed;
    margin-top: -20px;
    margin-left: -22px;
    width: 544px;
    height: 352px;
    border-radius: 30px 30px 0 0;
    gap: 12px;
    opacity: 0px;
  }

  .addUserDaten {
    margin-top: 300px;
    margin-left: -40px;
  }
  input {
    width: 364px;
  }
  .imgClose {
    margin-left: 80px;
  }
  input {
    width: 364px;
  }
  .cancel-createContact-btn {
    width: auto;
  }
  /*  */
  .img-info-edit-delete {
    margin-left: 16px;
  }

  .contactLeft {
    width: 300px;
  }

  #userInfo {
    margin-left: 340px;
  }

  .addUserButtonDiv {
    width: 300px;
  }

  .btn {
    font-size: 16px;
    width: 200px;
    margin-left: calc(50% - 100px);
  }

  .btn img {
    height: 30px;
    width: auto;
  }
}
/* -------------------------------- 590 */
@media (max-width: 590px) {
  .overlay-content1 {
    width: 476px;
    height: 760px;
    margin-top: 120px;
    margin-left: 8px;
    gap: 49px;
    border-radius: 30px;
    opacity: 0px;
  }
  .addPersonPic {
    left: 180px;
  }

  .editLook {
    position: fixed;
    margin-top: -20px;
    margin-left: -22px;
    width: 520px;
    height: 352px;
    border-radius: 30px 30px 0 0;
    gap: 12px;
    opacity: 0px;
  }

  .addUserDaten {
    margin-top: 300px;
    margin-left: -40px;
  }
  input {
    width: 364px;
  }
  .imgClose {
    margin-left: 80px;
  }
  input {
    width: 364px;
  }
  .cancel-createContact-btn {
    width: auto;
  }
}
/* -------------------------- 530 -------------------------- */
@media (max-width: 530px) {
  .overlay-content1 {
    width: 396px;
    height: 760px;
    margin-top: 120px;
    margin-left: 40px;
    gap: 49px;
    border-radius: 30px;
    opacity: 0px;
  }

  .addPersonPic {
    position: fixed;
    z-index: 2; /* Stellen Sie sicher, dass das Element über anderen Elementen liegt */
    margin-top: 208px;
    top: 88px;
    width: 120px;
    height: 120px;
    left: 140px;
    gap: 0px;
    border-radius: 70px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  .editLook {
    position: fixed;
    margin-top: -20px;
    margin-left: -22px;
    width: 440px;
    height: 352px;
    border-radius: 30px 30px 0 0;
    gap: 12px;
    opacity: 0px;
  }

  .addUserDaten {
    margin-top: 300px;
    margin-left: -88px;
  }
  input {
    width: 364px;
  }
  .imgClose {
    margin-left: 80px;
  }
  /*  */
  .user-list-container {
    margin-top: -40px;
  }
  .addNewUserPic {
    display: block;
    width: 56px;
    height: 56px;
    margin-top: 790px;
    margin-left: 356px;
  }
  .contactLeft {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
  /*  */
  #userList {
    height: 72vh;
  }
  .user-name-info {
    padding-left: 24px;
    margin-top: -72px;
    margin-left: 80px;

    font-size: 43px;
    font-weight: 500;
  }
  .img-info-edit-delete {
    margin-top: 40px;
    margin-left: 16px;
  }
  .initials-circle-info3 {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 56px;
    line-height: 80px;
    font-size: 32px;
    border-radius: 70px;
    margin-right: 320px;
  }
  .overlay-content3 {
    width: 420px;
    height: 74vh;
    margin-left: 16px;
    margin-top: 120px;
    background-color: #88ef54;
    padding: 8px 40px;
    cursor: pointer;
  }
  .small-overlay-content {
    background-color: aliceblue;
    position: fixed;
    width: 116px;
    height: 100px;
    margin-top: 640px;
    margin-left: 400px;
    padding: 10px 0px 0px 0px;
    gap: 0px;
    border-radius: 20px 20px 0px 20px;
    opacity: 0px;
  }
  .imgMenuOption {
    position: fixed;
    margin-bottom: -144px;
    width: 56px;
    height: 56px;
    padding-left: 364px;
  }
  /*  position: fixed;
  margin-bottom: -144px;
  width: 56px;
  height: 56px;
  padding-left: 376px; */

  /* #userInfo {
    margin-left: 20px;
    margin-top: 65vh;
    margin-right: 0;
    margin-bottom: 0;
    height: 100%;
  } */
  .frame40 {
    display: none;
    margin-top: 0;
  }

  .addUserButtonDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 90vw;
    margin-left: 0;
  }
}
/* ---------------------- 490 ---------------- */

@media (max-width: 490px) {
  .overlay-content1 {
    margin-left: 16px;
  }
}
/* ----------------- 460 */
@media (max-width: 460px) {
  .overlay-content1 {
    margin-left: 0px;
  }
}
/* ----------------------------------- */
@media (max-width: 430px) {
  .overlay-content1 {
    width: 344px;
    height: 760px;
    margin-top: 120px;
    margin-left: 16px;
    gap: 49px;
    border-radius: 30px;
    opacity: 0px;

    @keyframes slide-in {
      from {
        transform: translateY(
          100%
        ); /* Startposition außerhalb des Bildschirms */
      }
      to {
        transform: translateY(0); /* Endposition oben auf dem Bildschirm */
      }
    }
  }

  .addPersonPic {
    position: fixed;
    z-index: 2; /* Stellen Sie sicher, dass das Element über anderen Elementen liegt */
    margin-top: 208px;

    width: 120px;
    height: 120px;
    left: 120px;
    gap: 0px;
    border-radius: 70px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  .editLook {
    position: fixed;
    margin-top: -20px;
    margin-left: -22px;
    width: 388px;
    height: 352px;
    border-radius: 30px 30px 0 0;
    gap: 12px;
    opacity: 0px;
  }

  .addUserDaten {
    margin-top: 300px;
    margin-left: -88px;
  }
  input {
    width: 300px;
  }
  .imgClose {
    margin-left: 80px;
  }
  /*  */
  .user-list-container {
    margin-top: -40px;
  }
  .addNewUserPic {
    display: block;
    width: 56px;
    height: 56px;
    margin-top: 790px;
    margin-left: 356px;
  }
  .contactLeft {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
  /*  */
  #userList {
    height: 72vh;
  }
  .user-name-info {
    padding-left: 24px;
    margin-top: -72px;
    margin-left: 80px;

    font-size: 43px;
    font-weight: 500;
  }
  .img-info-edit-delete {
    margin-top: 40px;
    margin-left: 16px;
  }
  .initials-circle-info3 {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 56px;
    line-height: 80px;
    font-size: 32px;
    border-radius: 70px;
    margin-right: 320px;
  }
  .overlay-content3 {
    width: 420px;
    height: 74vh;
    margin-left: 16px;
    margin-top: 120px;
    background-color: #88ef54;
    padding: 8px 40px;
    cursor: pointer;
  }
  .small-overlay-content {
    background-color: aliceblue;
    position: fixed;
    width: 116px;
    height: 100px;
    margin-top: 640px;
    margin-left: 400px;
    padding: 10px 0px 0px 0px;
    gap: 0px;
    border-radius: 20px 20px 0px 20px;
    opacity: 0px;
  }
  .imgMenuOption {
    position: fixed;
    margin-bottom: -144px;
    width: 56px;
    height: 56px;
    padding-left: 364px;
  }
  /*  position: fixed;
  margin-bottom: -144px;
  width: 56px;
  height: 56px;
  padding-left: 376px; */

  /* #userInfo {
    margin-left: 20px;
    margin-top: 65vh;
    margin-right: 0;
    margin-bottom: 0;
    height: 100%;
  } */
  .frame40 {
    display: none;
    margin-top: 0;
  }

  .addUserButtonDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 90vw;
    margin-left: 0;
  }

  /* ---------------------------------------------------------------------- */
  #userList {
    height: 90vh;
  }
  .user-name-info {
    padding-left: 8px;
    margin-top: -72px;
    margin-left: 80px;

    font-size: 43px;
    font-weight: 500;
  }
  .img-info-edit-delete {
    margin-top: 40px;
    margin-left: 16px;
  }
  .initials-circle-info3 {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 56px;
    line-height: 80px;
    font-size: 32px;
    border-radius: 70px;
    margin-right: 240px;
  }
  .overlay-content3 {
    width: 320px;
    height: 74vh;
    margin-left: 16px;
    margin-top: 120px;
    background-color: #88ef54;
    padding: 8px 40px;
    cursor: pointer;
  }
  /*  @keyframes slide-in {
    from {
      transform: translateY(100%); /* Startposition außerhalb des Bildschirms *
    }
    to {
      transform: translateY(0); /* Endposition oben auf dem Bildschirm *
    }
  } */
}

/* ---------------------------- 410 */
@media (max-width: 410px) {
  .overlay-content1 {
    margin-left: 8px;
  }
}
/* ------------------------------ 400 ------------------ */
@media (max-width: 400px) {
  .overlay-content1 {
    width: 280px;
    height: 740px;
    margin-top: 120px;
    margin-left: 24px;
    gap: 49px;
    border-radius: 30px;
    opacity: 0px;
  }

  .addPersonPic {
    position: fixed;
    z-index: 2; /* Stellen Sie sicher, dass das Element über anderen Elementen liegt */
    margin-top: 208px;

    width: 120px;
    height: 120px;
    left: 80px;
    gap: 0px;
    border-radius: 70px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  .editLook {
    position: fixed;
    margin-top: -20px;
    margin-left: -22px;
    width: 325px;
    height: 352px;
    border-radius: 30px 30px 0 0;
    gap: 12px;
    opacity: 0px;
  }

  .addUserDaten {
    margin-top: 300px;
    margin-left: -104px;
  }
  input {
    width: 280px;
  }
  .imgClose {
    margin-left: 80px;
  }
}
/*  */
/* --------------- 360 --------------- */

@media (max-width: 360px) {
  .overlay-content1 {
    margin-left: 16px;
  }
}
/* -------------- 350 --------- */
@media (max-width: 350px) {
  .overlay-content1 {
    margin-left: 8px;
  }
}
/* ------------------------------ 335 */
@media (max-width: 335px) {
  .overlay-content1 {
    width: 256px;
    height: 760px;
    margin-top: 120px;
    margin-left: 16px;
    gap: 49px;
    border-radius: 30px;
    opacity: 0px;
  }

  .addPersonPic {
    position: fixed;
    z-index: 2; /* Stellen Sie sicher, dass das Element über anderen Elementen liegt */
    margin-top: 208px;

    width: 120px;
    height: 120px;
    left: 80px;
    gap: 0px;
    border-radius: 70px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  .editLook {
    position: fixed;
    margin-top: -20px;
    margin-left: -22px;
    width: 300px;
    height: 352px;
    border-radius: 30px 30px 0 0;
    gap: 12px;
    opacity: 0px;
  }

  .addUserDaten {
    margin-top: 300px;
    margin-left: -104px;
  }
  input {
    width: 240px;
  }
  .imgClose {
    margin-left: 80px;
  }
  .cancel-createContact-btn {
    width: 50%;
  }
}

/* ---------------------- 320 --------- */
@media (max-width: 335px) {
  .overlay-content1 {
    margin-left: 12px;
  }
}
