/* ---------------------- header ------------------------------ */
/* .header1 {
  width: 100%;
  height: 96px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #0000001a;
  font-size: 20px;
  top: 0;
  left: 232px;
  position: fixed;
  z-index: 997;
} */

.header {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  position: fixed;
  height: 96px;
  padding: 20px 40px 20px 348px;
  gap: 0px;

  opacity: 0px;

  /*  */
  box-shadow: 0px 4px 0px 0px #0000001a;
}

.header-headline {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 16px;
}

.header-right-position {
  margin-right: 0px;
}

.help-icon {
  margin: 20px 8px 0 300px;
}

.user-name {
  font-size: 22px;
  color: #29abe2;
  font-weight: 800;
  margin-top: 12px;
}

.user-icon {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ---------------------- line --------------------------- */
.line {
  width: 100%;
  height: 2px;
  background-color: rgb(27, 25, 25);
  margin-left: 232px;
  margin-bottom: auto;
}

/* ------------------------------------- */
.UsersList-btn {
  display: flex;
}

/*  */
.userList-userInfo {
  display: flex;
}

.userInfo {
  margin-left: 240px;
}

main {
  margin: 120px;
  height: 60vh;
  margin-top: 240px;
  width: 100%;
  overflow-y: hidden;
}

#addUserBtn {
  width: 352px;
  height: 56px;
  background-color: #2a3647;
  margin-bottom: 24px;
  border-radius: 8px;
  border-color: #2a3647;
  font-size: 24px;
}

/*  */

.frame40 {
  /*  width: 569px;
  height: 73px;
  top: 206px;
  left: 743px;
  gap: 30px;
  margin-bottom: 40px;
  margin-top: -144px;
  margin-left: 20px; */

  /*  */
  width: 569px px;
  height: 73px px;
  top: 206px;
  left: 743px;
  gap: 30px;
  opacity: 0px;
  margin-top: 96px;
}

/* --------------------------- */

.initials-circle {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.user-details {
  flex-grow: 1;
}

/* ------------essay-------- */
/* Stil für die Benutzerliste */
.user-list-container {
  display: flex;
  /*  height: 60vh; 
  cursor: pointer;

  /*  */
}

/* CSS für den Benutzerlistenbereich */
/* #userList {
  width: 456px;
  height: 928px;
  margin-top: -24px;
  left: 232px;
  gap: 0px;
  opacity: 0px;
  margin-left: 180px;
  overflow-y: auto; /* Vertikales Scrollen aktivieren *
}
 */
#userList {
  width: 100%;
  height: 100vh;
  margin-top: 128px;
  margin-left: 16px;
  /* Linker Abstand beibehalten */
  gap: 0px;
  opacity: 0px;
  overflow-y: auto;
  /* Vertikales Scrollen aktivieren */
  overflow-x: hidden;
  height: 76vh;
  cursor: pointer;
  padding: 40px;
}

hr {
  width: 100%;
  /* Breite der horizontalen Linie anpassen */
  margin-left: 1%;
  /* Linker Abstand der horizontalen Linie anpassen */
}

/* Stil für die Benutzerliste */
.user-list {
  flex: 1;
  overflow-y: auto;
  /* Scrollen aktivieren */
  padding: 10px;
  position: relative;
  /* relative Positionierung für Kinder */
}

/* .user-info {
  display: flex;
  align-items: center;
  position: sticky; /* Fixierte Positionierung *
  top: 0; /* Oben am Bildschirm anhaften *
  padding: 10px;
} */
/* CSS für den Benutzerinfobereich */
#userInfo {
  width: 752px;
  position: fixed;
  margin-top: -174px;
  padding: 0px 256px;
  background-color: hsl(206, 37%, 96%);
  /* border: 4px solid #ccc; */
  border-radius: 5px;
  /* margin-left: 528px; */
  width: calc(80% - 240px);
  height: 98vh;
  cursor: pointer;
  
  /*  */
}

/* --------------- */

/* -------------- */
.userInfo-div {
  height: 364px;
  top: 311px;
  left: 750px;
  gap: 21px;
  opacity: 0px;

  /*  background: url("./img/contacts.png"); */
  margin-left: 24px;
  margin-top: 40px;
}

/* Stil für die Initialen-Kreise */
.initials-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}

.initials-circle-info {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
  margin-right: 10px;
}

.selected {
  background-color: #f0f0f0;
  /* Hintergrundfarbe für ausgewählten Benutzer */
  cursor: pointer;
  /* Zeiger-Cursor */
}

/* Stil für die Linie zwischen den Benutzern */
.user-list hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.overlay-content1 {
  border-radius: 5px;
  display: flex;
  width: 1212px;
  height: 592px;

  margin-top: 11%;
  margin-left: 6%;
  /*   top: -2901px;
  left: -1731px; */
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Schatteneffekt für das Overlay 
  */
  background-color: white;
  padding: 20px;
}

.circle2-user {
  display: flex;
}

.user-name-info {
  margin: 16px;
  font-family: inter;
  font-size: 47px;
  font-weight: 500;
  color: black;
}

.img-info-edit-delete {
  margin-top: -16px;
  margin-left: 16px;
}

.user-info-contactInformation {
  margin-top: 40px;
}

.user-mail-info {
  margin: 16px 0;
}

a {
  text-decoration: none;
}

.img-edit {
  color: black;
  width: 62px;
  height: 24px;
}

.img-edit:hover {
  scale: 1.02;
}

.img-delete {
  margin-left: 8px;
}

.img-delete:hover {
  scale: 1.02;
}

/* --------------------- */

/* --------------- */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(226, 222, 222, 0.002);
  z-index: 2;
  cursor: pointer;

  animation: slide-in 0.8s both;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.overlay-content2 {
  display: flex;
  width: 1212px;
  height: 592px;

  margin-top: 11%;
  margin-left: 6%;
  /*   top: -2901px;
  left: -1731px; */
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Schatteneffekt für das Overlay 
  */
}

.editLook {
  width: 453px;
  height: 592px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 8px 0px 0px 8px;
}

.addUserDaten {
  margin-top: 4%;
  margin-left: 4%;
}

/* -------------------- */
.editUserDaten {
  margin-top: 4%;
  margin-left: 4%;
}

.initialsEdit {
  margin-top: 216px;
  margin-left: 40px;
}

/* -------------------------- */
input {
  width: 422px;
  height: 50px;
  border-radius: 8px;
  /*  */

  gap: 8px;
  opacity: 0px;
}

#editUserName {
  padding-left: 8px;
}

#newUserName {
  padding-left: 8px;
}

#editUserEmail {
  padding-left: 8px;
}

#newUserEmail {
  padding-left: 8px;
}

#editUserPhone {
  padding-left: 8px;
}

#newUserPhone {
  padding-left: 8px;
}

#editUserPassword {
  padding-left: 8px;
}

.addPersonPic {
  margin-top: 200px;
  margin-left: 24px;
  /*  */
  width: 120px;
  height: 120px;
  top: 204px;
  left: 550px;
  gap: 0px;
  border-radius: 70px 0px 0px 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
}

/* ------------------------------------ img -------------------------- */
.imgCheck {
  margin-top: -8px;
}

.imgCancel {
  margin-top: -4px;
  width: 20px;
  height: 20px;
}

.imgClose {
  margin: 0px 376px 80px;
}

.iconPerson {
  background: url("/img/person.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}

.iconMail {
  background: url("/img/mail.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}

.iconCall {
  background: url("/img/call.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}

.iconLock {
  background: url("/img/lock.png");
  background-size: 20px;
  background-position: 376px 10px;
  background-repeat: no-repeat;
}

/* ------------------------------------ End ---------------------------- */
.delete-save-btn {
  display: flex;
}

.cancel-createContact-btn {
  display: flex;
}

.delete-btn {
  margin-right: 8px;
  width: auto;
  height: auto;
}

.cancel-btn {
  margin-right: 8px;
  width: auto;
  height: auto;
}

.save-btn {
  width: auto;
  height: auto;
}

a {
  color: rgb(128, 189, 246);
}

/* ------------------------------------------------------------------------- */
.navi-all {
  display: flex;
}

.navi {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  font-size: 16px;
}

.btn {
  position: fixed;
  width: 352px;
  height: 56px;
  background-color: #2a3647;
  margin-bottom: 24px;
  border-radius: 8px;
  border-color: #2a3647;
  font-size: 24px;
  margin-left: 48px;
  margin-top: 120px;
}

.person_add {
  width: 32px;
  height: 32px;
  margin-top: -8px;
}

.addNewUserPic {
  margin-bottom: -1200px;
  margin-left: -480px;
}

.contactLeft {
  position: fixed;
  background-color: white;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  /* margin-top: -185px; */
  top: 0px;
  background-color: white;
  height: 100vh;
  width: 450px;
  z-index: 1;
}

/* -------------------media queries */

@media (max-width: 1570px) {
  .helpIcon-userName {
    margin-left: 800px;
  }

  .overlay-content2 {
    margin-top: 184px;
  }

  .overlay-content1 {
    margin-top: 184px;
  }
}

/* ------------------------------------- 1024 */
@media (max-width: 1024px) {
  .helpIcon-userName {
    margin-left: 280px;
  }

  .overlay-content2 {
    margin-top: 184px;
  }

  .overlay-content1 {
    margin-top: 184px;
  }

  .navi {
    width: 200px;
  }

  header {
    margin-left: -32px;
  }

  #userList {
    width: 280px;
    margin-left: 120px;
  }

  #userInfo {
    margin-left: 440px;
    /* Linken Abstand festlegen */
    width: calc(80% - 240px);
    /* Breite festlegen (100% - Breite des Benutzerlistenbereichs) */
  }

  .btn {
    width: 320px;
    margin-left: 96px;
  }

  .frame40 {
    width: 350px;
    height: 70px;
    margin-left: -20px;
  }

  .userInfo-div {
    /* background: url(./img/contacts.png); */
    margin-top: -8px;
    margin-left: 0px;
  }

  .overlay-content2 {
    display: flex;
    width: 744px;
    height: 412px;

    margin-top: 208px;
    /*  */
    margin-left: 216px;
    /*  */
    /*   top: -2901px;
    left: -1731px; */
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Schatteneffekt für das Overlay 
    */
  }

  .editLook {
    width: 320px;
    height: 412px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 8px 0px 0px 8px;
  }

  input {
    width: 240px;
  }

  .editUserDaten {
    margin-top: -64px;
    margin-left: 16px;
  }

  .initialsEdit {
    margin-top: 120px;
    margin-left: 16px;
  }

  .imgClose {
    margin: 56px 216px 16px;
  }

  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    width: 744px;
    height: 412px;

    margin-top: 208px;
    /*  */
    margin-left: 216px;
    /*  */
    /*   top: -2901px;
    left: -1731px; */
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Schatteneffekt für das Overlay 
    */
    background-color: white;
    padding: 20px;
  }

  .addPersonPic {
    margin-top: 120px;
    margin-left: 16px;
  }

  .addUserDaten {
    margin-top: -40px;
    margin-left: 16px;
  }

  .cancel-createContact-btn {
    margin-top: 40px;
    margin-left: -64px;
  }
}

/* --------------------------- 768 ----------------- */
@media (max-width: 768px) {
  .helpIcon-userName {
    margin-left: 88px;
  }

  .overlay-content2 {
    margin-top: 184px;
  }

  .overlay-content1 {
    margin-top: 184px;
  }

  .navi {
    width: 144px;
  }

  header {
    margin-left: -88px;
  }

  #userList {
    width: 232px;
    margin-left: 56px;
  }

  #userInfo {
    margin-left: 308px;
    /* Linken Abstand festlegen */
    width: calc(80% - 240px);
    /* Breite festlegen (100% - Breite des Benutzerlistenbereichs) */
  }

  .btn {
    width: 256px;
    margin-left: 32px;
  }

  .frame40 {
    width: 300px;
    height: 65px;
    margin-left: -20px;
  }

  .userInfo-div {
    /* background: url(./img/contacts.png); */
    margin-top: -8px;
    margin-left: 0px;
  }

  .user-name-info {
    margin: 16px 16px 16px 8px;

    font-family: inter;
    font-size: 32px;
    font-weight: 500;
    color: black;
  }

  .initials-circle-info {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 32px;
  }

  .overlay-content2 {
    display: flex;
    width: 600px;
    height: 412px;

    margin-top: 208px;
    /*  */
    margin-left: 152px;
    /*  */
    /*   top: -2901px;
    left: -1731px; */
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Schatteneffekt für das Overlay 
    */
  }

  .editLook {
    width: 256px;
    height: 412px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 8px 0px 0px 8px;
  }

  input {
    width: 224px;
  }

  .editUserDaten {
    margin-top: -64px;
    margin-left: 8px;
  }

  .initialsEdit {
    margin-top: 120px;
    margin-left: 8px;
  }

  .imgClose {
    margin: 56px 196px 16px;
  }

  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    width: 600px;
    height: 412px;

    margin-top: 208px;
    /*  */
    margin-left: 152px;
    /*  */
    /*   top: -2901px;
    left: -1731px; */
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Schatteneffekt für das Overlay 
    */
    background-color: white;
    padding: 20px;
  }

  .addPersonPic {
    width: 80px;
    height: 80px;
    margin-top: 120px;
    margin-left: 8px;
  }

  .addUserDaten {
    margin-top: -40px;
    margin-left: 16px;
  }

  .cancel-createContact-btn {
    margin-top: 40px;
    margin-left: -80px;
  }

  .header-right-position {
    margin-right: 640px;
  }

  .header-headline {
    margin-left: -160px;
  }
}

/* ---------------------------------- 700 ----------------------------- */
@media (max-width: 700px) {
  .navi {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2a3647;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 90;
  }

  .menu {
    margin-bottom: 32px;
  }

  .btn {
    width: 256px;
    margin-left: -88px;
  }

  #userList {
    width: 232px;
    margin-left: -80px;
  }

  header {
    width: 1200px;
    margin-left: 0px;
    padding: 0 -40px;
    width: 800px;
  }

  .header-right-position {
    margin-right: 800px;
  }

  .header-headline {
    display: none;
  }

  .headerLogoSmall-position {
    margin-left: -720px;
    margin-top: 8px;
    width: 32px;
    height: 39.02px;
    gap: 10px;
    opacity: 0px;
  }
}

/* ----------------------------------- 320 --------------- */

@media (max-width: 430px) {
  .header-right-position {
    margin-right: 1008px;
  }

  .headerLogoSmall-position {
    margin-left: -520px;
  }

  /*   #userList {
    width: 428px;
    height: 766px;
    top: 80px;
    padding: 0px 14px 0px 14px;
    gap: 0px;
    opacity: 0px;
  } */

  #userList {
    display: block;
  }

  #userInfo {
    display: none;
  }

  button.btn {
    display: none;
  }

  .addNewUserPic {
    margin-bottom: -1048px;
    padding-left: 590px;
  }

  #userList {
    width: 232px;
    height: 766px;
    margin-top: -140px;

    gap: 0px;
    opacity: 0px;

    overflow-y: auto;
    /* Vertikales Scrollen aktivieren */
    height: 72vh;
    /*   top: 80px;*/
  }

  header {
    margin-left: 0px;
    padding: 0 0px;
    width: 40px;
  }

  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;

    margin-top: 4%;
    margin-left: 6%;
    /* width: 120px;
height: 120px;
top: 292px;
left: 138px;
gap: 0px;
border-radius: 70px 0px 0px 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
 */
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Schatteneffekt für das Overlay 
    */

    padding: 20px;
  }

  /* .............. */

  .addUserDaten {
    width: 380px;

    background-color: #f9f9f9;
    margin-top: -6px;
    margin-left: -20px;
  }

  .editLook {
    width: 380px;
    height: 351px;
  }

  .addPersonPic {
    height: 120px;
    width: 120px;
    margin-top: -64px;
    margin-left: 120px;

    top: 204px;
    left: 550px;
    gap: 0px;
    border-radius: 70px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  input {
    width: 364px;
    height: 41px;
  }

  .imgClose {
    margin-left: 300px;
  }

  .cancel-createContact-btn {
    margin-left: -0px;
  }

  .cancel-btn {
    display: none;
  }

  .check-btn {
    width: 202px;

    height: 51px;
    top: 629px;
    left: 97px;
    padding: 18px 10px 18px 10px;
    gap: 4px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
  }

  /* .............. */
}

/* ------------------------------------------------------------------ */
@media (max-width: 320px) {
  .header-right-position {
    margin-right: 1088px;
  }

  .headerLogoSmall-position {
    margin-left: -472px;
  }

  /*   #userList {
    width: 428px;
    height: 766px;
    top: 80px;
    padding: 0px 14px 0px 14px;
    gap: 0px;
    opacity: 0px;
  } */

  #userList {
    display: block;
  }

  #userInfo {
    display: none;
  }

  button.btn {
    display: none;
  }

  .addNewUserPic {
    margin-bottom: -1048px;
    padding-left: 590px;
  }

  #userList {
    width: 232px;
    height: 766px;
    margin-top: -140px;

    gap: 0px;
    opacity: 0px;

    overflow-y: auto;
    /* Vertikales Scrollen aktivieren */
    height: 72vh;
    /*   top: 80px;*/
  }

  .overlay-content1 {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;

    margin-top: 4%;
    margin-left: 3%;
    /* width: 120px;
height: 120px;
top: 292px;
left: 138px;
gap: 0px;
border-radius: 70px 0px 0px 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
 */
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Schatteneffekt für das Overlay 
    */

    padding: 20px;
  }

  /* .............. */

  .addUserDaten {
    width: 380px;

    background-color: #f9f9f9;
    margin-top: -6px;
    margin-left: -20px;
  }

  .editLook {
    width: 300px;
    height: 351px;
  }

  .addPersonPic {
    height: 120px;
    width: 120px;
    margin-top: -64px;
    margin-left: 72px;

    top: 204px;
    left: 550px;
    gap: 0px;
    border-radius: 70px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  input {
    width: 304px;
    height: 41px;
  }

  .imgClose {
    margin-left: 240px;
  }

  .cancel-createContact-btn {
    margin-left: -0px;
  }

  .cancel-btn {
    display: none;
  }

  .check-btn {
    width: 202px;

    height: 51px;
    top: 629px;
    left: 97px;
    padding: 18px 10px 18px 10px;
    gap: 4px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
  }

  /* .............. */
}