body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #F6F7F8;
}

.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F6F7F8;
}

.startLogo {
    position: relative;
    height: 250px;
    top: 40%;
    left: 45%;
}

@keyframes animateLogo {
    0%      {height: 250px; top: 40%; left: 45%;}
    100%    {height: 96px; top: 20px; left: 97px;}
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

.borderGrey {
    border-color: lightgrey !important;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
}

h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-weight: bold;
    font-size: 42px;
}

.marginBottom16 {
    margin-bottom: 16px;
}

.marginBottom32 {
    margin-bottom: 32px;
}

.marginTop32 {
    margin-top: 32px;
}

.marginTop16 {
    margin-top: 16px;
}

.line {
    background-color: #29ABE2;
    height: 2px;
    width: 100px;
    margin-bottom: 20px;
}

.arrowLeft {
    height: 32px;
    width: 32px;
    position: relative;
    top: 55px;
    left: -170px;
    cursor: pointer;
}

.loginButtons {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.container {
    background-color: #F6F7F8;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainLogo {
    height: 96px;
    margin-left: 97px;
}

.headPart {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.goToSignUp {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    margin-right: 128px;
}

.goToSignUpBottom {
    display: none;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

a {
    text-decoration: none;
    color: #29ABE2;
}

.rememberMe{
    gap: 8px;
}

.inputBox {
    background-color: white;
    padding: 4px 16px;
    border-radius: 8px;
    border: 1px solid black;
    height: 32px;
    display: flex;
    align-items: center;
}

.inputBox:hover {
    border-color: #29ABE2 !important;
}

.alertNotification {
    color: #FD1E39;
    font-size: 12px;
    margin-top: -15px;
    margin-left: -120px;
    margin-bottom: 16px;
}

.bottom-part {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.bottom-part a {
    text-decoration: none;
    color: #a8a8a8;
    line-height: 19px;
    width: 121px;
    cursor: pointer;
}

.bottom-part a:hover {
    font-weight: bold;
    color: #29ABE2;
}

@media (max-width: 500px) {
    .fullScreen {
        background-color: #2a3647;
    }

    .startLogo {
        position: relative;
        height: 100px;
        top: 40%;
        left: 45%;
        content: url(../img/logo_white.png);
    }
    
    @keyframes animateLogo {
        0%      {height: 100px; top: 40%; left: 45%;}
        100%    {height: 78px; top: 37px; left: 38px;}
    }

    .mainLogo {
        height: 78px;
        margin-top: 37px;
        margin-left: 38px;
    }

    .headPart {
        top: 0;
    }

    #signUpBoxTop {
        display: none;
    }

    #signUpBoxBottom {
        display: flex;
    }

    .arrowLeft {
        left: -120px;
    }
}

@media(max-height: 400px){

    .mainLogo{
        display: none;
    }

    .goToSignUp{
        display: none;
    }

    .bottom-part{
        display: none;
    }
}

@media(max-height: 700px) {

    .mainLogo {
        height: 48px;
        margin-top: 17px;
        margin-left: 18px;
    }

}

@media(max-height: 550px) {

    .marginBottom16 {
        margin-bottom: 8px;
    }
    
    .marginBottom32 {
        margin-bottom: 12px;
    }

    .bottom-part {
        gap: 156px;
    }

}