body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F6F7F8;
}

.startLogo {
    position: relative;
    height: 250px;
    top: 40%;
    left: 45%;
}

@keyframes animateLogo {
    0%      {height: 250px; top: 40%; left: 45%;}
    100%    {height: 96px; top: 20px; left: 97px;}
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popUpBox {
    width: 500px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.1));
}

.d-none {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
}

h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-weight: bold;
    font-size: 42px;
}

input {
    border: 1px solid lightgrey;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    width: 300px;
    outline-color: #29ABE2;
}

.inputBox {
    display: flex;
    align-items: center;
    margin-bottom: 16px;    
}

.inputBox img {
    height: 16px;
    margin-left: -30px;
}

::placeholder {
    color: lightgrey;  
}

.checkbox {
    width: 32px !important;
}

.marginBottom16 {
    margin-bottom: 16px;
}

.marginBottom32 {
    margin-bottom: 32px;
}

.marginTop32 {
    margin-top: 32px;
}

.marginTop16 {
    margin-top: 16px;
}

.fontBlue {
    color: #29ABE2;
}

.fontLightgrey {
    color: rgb(177, 177, 177);
}

.line {
    background-color: #29ABE2;
    height: 2px;
    width: 100px;
    margin-bottom: 20px;
}

button {
    padding: 12px 20px;
    border: 0;
    border-radius: 8px;
    background-color: #2A3647;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #29ABE2;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.2));
}

.infoBox {
    padding: 12px 20px;
    border-radius: 12px;
    background-color: #2A3647;
    font-size: 16px;
    color: white;
    font-weight: bold;
    height: 20px;
    position: fixed;
    top: 50px;
}

.arrowLeft {
    height: 32px;
    width: 32px;
    position: relative;
    top: 55px;
    left: -170px;
    cursor: pointer;
}

.loginButtons {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.whiteButton {
    border: 1px solid #2A3647 !important;
    background-color: white !important;
    color: #2A3647;
}

.whiteButton:hover {
    color: #29ABE2 !important;
    border-color: #29ABE2 !important;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.2));
}

.container {
    background-color: #F6F7F8;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 96px;
}

header {
    position: fixed;
    top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.goToSignUp {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

p a{
    text-decoration: none;
    color: #29ABE2;
}

.alertNotification {
    color: #FD1E39;
    font-size: 12px;
    margin-top: -15px;
    margin-left: -120px;
    margin-bottom: 16px;
}


