html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #F6F7F8;
}

.popUpBox {
    width: 500px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.1));
}

input {
    /* border: 1px solid lightgrey; */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    width: 300px;
    outline-width: 0;
    font-size: 18px;
    /* outline-color: #29ABE2; */
}

.inputBox {
    display: flex;
    align-items: center;
    margin-bottom: 16px;    
}

.inputBox img {
    height: 16px;
    margin-left: -30px;
}

::placeholder {
    color: lightgrey;  
}

.checkbox {
    width: 32px !important;
}

.fontBlue {
    color: #29ABE2;
}

.fontLightgrey {
    color: rgb(177, 177, 177);
}

button {
    padding: 12px 20px;
    border: 0;
    border-radius: 8px;
    background-color: #2A3647;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #29ABE2;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.2));
}

.infoBox {
    padding: 12px 20px;
    border-radius: 12px;
    background-color: #2A3647;
    font-size: 16px;
    color: white;
    font-weight: bold;
    height: 20px;
    position: fixed;
    top: 50px;
}

.whiteButton {
    border: 1px solid #2A3647 !important;
    background-color: white !important;
    color: #2A3647;
}

.whiteButton:hover {
    color: #29ABE2 !important;
    border-color: #29ABE2 !important;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.2));
}

.d-none {
    display: none;
}