/* inter-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/inter-v13-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v13-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: row;
}

html {
    scroll-behavior: smooth;
}

.mainScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    width: 100%;
    height: 96px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
    font-size: 20px;
}

.popUpBox {
    width: 500px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}

.inputField {
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    width: 300px;
    outline-width: 0;
    font-size: 18px;
}

.inputSearch {
    width: 300px;
    height: 20px;
}

.inputBox img {
    width: 16px;
    margin-left: -30px;
}

::placeholder {
    color: lightgrey;
}

.checkbox {
    width: 32px !important;
}

.fontBlue {
    color: #29ABE2;
}

.fontLightgrey {
    color: rgb(177, 177, 177);
}

button {
    padding: 12px 20px;
    border: 0;
    border-radius: 8px;
    background-color: #2A3647;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #29ABE2;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
}

button img {
    height: 14px;
    margin-left: 8px;
}

.infoBox {
    padding: 12px 20px;
    border-radius: 12px;
    background-color: #2A3647;
    font-size: 16px;
    color: white;
    font-weight: bold;
    height: 20px;
    position: fixed;
    top: 50px;
}

.activeUserInitials {
    color: #29ABE2;
    border-radius: 50%;
    gap: 16px;
    border: 3px solid #2A3647;
    display: inline-block;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeUserInitials:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.whiteButton {
    border: 1px solid #2A3647 !important;
    background-color: white !important;
    color: #2A3647;
}

.whiteButton:hover {
    color: #29ABE2 !important;
    border-color: #29ABE2 !important;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
}

.d-none {
    display: none;
}




.main {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(211, 12, 3, 0.1);
    display: flex;
    flex-direction: row;
}

.navigation {
    width: 232px;
    height: calc(100vh - 128px);
    background-color: #2a3647;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 16px;
}

.allContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-left: 232px;
    width: calc(100% - 232px);
    background-color: #F6F7F8;
    overflow-x: hidden;
}

.upperBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
}

.headLine {
    width: 100%;
    height: 96px;
    display: flex;
    background-color: #29ABE2;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
    z-index: 60;
}

.fontHeader {
    font-size: 20px;
}

.spaceLeft {
    padding-left: 40px;
}

.spaceRight {
    padding-right: 40px;
}

.headlineSummary {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.blueLine {
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
    margin-left: 32px;
    margin-right: 32px;
}

.summaryOuterFrame {
    display: flex;
    width: 100%;
}

.summaryOuterFrame a{
    text-decoration: none;
}

.summaryFrameTop {
    display: flex;
    justify-content: space-between;
    height: 190px;
}

.summaryFrameCenter {
    display: flex;
    justify-content: space-between;
    height: 190px;
}

.summaryFrameBottom {
    display: flex;
    justify-content: space-between;
    height: 190px;
}

.summaryLeftFrame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 580px;
}

.summaryRightFrame {
    display: flex;
    align-items: flex-start;
    padding-left: 64px;
    flex-direction: column;
    justify-content: center;
}

.summaryBoxTop {
    background-color: #ffffff;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 38px, 19px, 38px, 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryBoxCenter {
    background-color: #ffffff;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 28px, 48px, 28px, 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryBoxBottom {
    background-color: #ffffff;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 25px, 0px, 25px, 0px;
}

.fixed-width-bottom{
    width: 190px;
}

.goodMorning {
    font-size: 42px;
}

.userName {
    font-size: 56px;
    font-weight: bold;
    color: #29ABE2;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.greyLine {
    height: 102px;
    width: 2px;
    background-color: #D1D1D1;
    margin-left: 48px;
    margin-right: 48px;
}

.summaryBoxTop:hover {
    background-color: #2A3647;
    color: white;
    width: 282px;
    height: 184px;
    cursor: pointer;
    transition-delay: 0.05s;
}

.summaryBoxCenter:hover {
    background-color: #2A3647;
    color: white;
    width: 576px;
    height: 184px;
    cursor: pointer;
    transition-delay: 0.05s;
}

.summaryBoxBottom:hover {
    background-color: #2A3647;
    color: white;
    width: 184px;
    height: 184px;
    cursor: pointer;
    transition-delay: 0.05s;
}

.summaryToDo:hover img {
    content: url('../img/summaryToDoWhite.png');
    transition-delay: 0.05s;
}

.summaryDone:hover img {
    content: url('../img/summaryDoneWhite.png');
    transition-delay: 0.05s;
}

.link a:visited {
    color: #000000;
}

.userMenuBox {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 158px;
    background-color: #2A3647;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    position: fixed;
    z-index: 95;
    box-shadow: 0px 0px 4px 0px #0000001A;
    top: 105px;
    right: 5px;
}

.userMenuOption {
    display: flex;
    align-items: center;
    width: 120px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    color: white;
}

.userMenuOption:hover {
    background-color: #37475e;
    cursor: pointer;
}

.helper {
    width: 20px;
}

.helper:hover {
    width: 24px;
    cursor: pointer;
}

@media (max-width: 1400px) {

    .summaryOuterFrame {
        flex-direction: column-reverse;
    }

}

@media (max-width: 850px) {

    .summaryLeftFrame {
        width: 100%; 
    }

    .summaryRightFrame {
        width: 100%; 
    }

    .summaryBoxTop {
        width: 200px;
        /* height: 130px; */
        padding: 38px, 19px, 38px, 19px;
    }

    .summaryBoxCenter {
        width: 430px;
        /* height: 130px; */
        padding: 38px, 19px, 38px, 19px;
    }

    .summaryBoxBottom {
        width: 130px;
        /* height: 130px; */
        padding: 38px, 19px, 38px, 19px;
    }

    .summaryBoxTop:hover {
        width: 220px;
        /* height: 140px; */
    }
    
    .summaryBoxCenter:hover {
        width: 450px;
        /* height: 140px; */
    }
    
    .summaryBoxBottom:hover {
        width: 150px;
        /* height: 140px; */
    }
    
}

@media (max-width: 700px) {

    .inputField {
        width: 100%;
    }
    
    .inputSearch {
        width: 100%;
        height: 20px;
    }

    .spaceLeft {
        display: none;
    }

    .spaceRight {
        padding-right: 24px;
    }

    .allContent {
        width: 100%;
    }

    .summaryLeftFrame {
        width: 100%;
    }

    .summaryBoxCenter {
        width: 100%;
    }

    .summaryBoxTop {
        max-width: 140px;
        /* height: 130px; */
        padding: 38px, 19px, 38px, 19px;
    }

    .summaryBoxCenter {
        min-width: 200px;
        max-width: 90%;
        /* height: 130px; */
        padding: 38px, 19px, 38px, 19px;
    }

    .summaryBoxBottom {
        max-width: 90px;
        /* height: 130px; */
        padding: 38px, 19px, 38px, 19px;
    }

    .summaryBoxTop:hover {
        width: 220px;
        /* height: 140px; */
    }
    
    .summaryBoxCenter:hover {
        width: 450px;
        /* height: 140px; */
    }
    
    .summaryBoxBottom:hover {
        width: 150px;
        /* height: 140px; */
    }

    .horizontal {
        width: 100%;
    }

    .vertical p {
        text-align: center;
        font-size: 14px;
    }

    .summaryIcon {
        width: 48px;
    }

    .greyLine {
        width: 2px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .summaryRightFrame {
        padding-left: 0;
    }

    .helpBorder {
        margin-left: 10px;
        margin-right: 10px;
    }

    .summaryFrameCenter {
        justify-content: center;
    }

}