
/* ---------------------- header ------------------------------ */
.header {
  display: flex;
  margin-top: 16px;
}

.header-headline {
  font-size: 20px;
  font-weight: 400;
  margin-left: 16px;
}

.helpIcon-userName {
  display: flex;
  justify-content: space-around;
}

.help-icon {
  margin: 20px 8px 0 300px;
}
.user-name {
  font-size: 22px;
  color: #29abe2;
  font-weight: 800;
  margin-top: 12px;
}
.user-icon {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* ---------------------- line --------------------------- */
.line {
  width: cover;
  height: 1px;
  background-color: black;
  margin: 24px 0;
}
/* ------------------------------------- */
.UsersList-btn {
  display: flex;
}

/* Stil für das Overlay */

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/*  */
.userList-userInfo {
  display: flex;
}

.userInfo {
  margin-left: 240px;
}
main {
  margin: 80px;
}
.btn {
  width: 352px;
  height: 56px;
  background-color: #2a3647;
  margin-bottom: 24px;
  border-radius: 8px;
  border-color: #2a3647;
  font-size: 24px;
}

/*  */

.frame40 {
  width: 569px;
  height: 73px;
  top: 206px;
  left: 743px;
  gap: 30px;
  margin-bottom: 40px;
  margin-top: -96px;
}
/* --------------------------- */
.user-info {
  display: flex;
  align-items: center;
}
.initials-circle {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.user-details {
  flex-grow: 1;
}
/* ------------essay-------- */
/* Stil für die Benutzerliste */
.user-list-container {
  display: flex;
  height: 60vh;
  cursor: pointer;
}

/* Stil für die Benutzerliste */
.user-list {
  flex: 1;
  overflow-y: auto; /* Scrollen aktivieren */
  padding: 10px;
  position: relative; /* relative Positionierung für Kinder */
}

.user-info {
  position: sticky; /* Fixierte Positionierung */
  top: 0; /* Oben am Bildschirm anhaften */
  padding: 10px;
}

/* Stil für die Initialen-Kreise */
.initials-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}
.initials-circle-info {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
  margin-right: 10px;
}
.selected {
  background-color: #f0f0f0; /* Hintergrundfarbe für ausgewählten Benutzer */
  cursor: pointer; /* Zeiger-Cursor */
}

/* Stil für die Linie zwischen den Benutzern */
.user-list hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.overlay-content1 {
  border-radius: 5px;
  display: flex;
  width: 1212px;
  height: 592px;

  margin-top: 10%;
  margin-left: 16%;
  /*   top: -2901px;
  left: -1731px; */
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatteneffekt für das Overlay 
  */
  background-color: white;
  padding: 20px;
}
.circle2-user {
  display: flex;
}

.user-name-info {
  margin: 16px;
  font-size: 40px;
  color: black;
}

.user-mail-info {
  margin: 16px 0;
}

a {
  text-decoration: none;
}
.img-edit {
  color: black;
}
.img-edit:hover {
  scale: 1.02;
}

.img-delete {
  margin-left: 8px;
}
.img-delete:hover {
  scale: 1.02;
}
/* --------------------- */
/* CSS für den Benutzerlistenbereich */
#userList {
  overflow-y: auto; /* Vertikales Scrollen aktivieren */
  max-height: 90vh; /* Maximale Höhe des Benutzerlistenbereichs festlegen */
  width: 500px;
}

/* CSS für den Benutzerinfobereich */
#userInfo {
  position: fixed; /* Fixierte Position */
  top: 10; /* Oben fixieren */
  padding: 0 20px; /* Innenabstand festlegen */
  background-color: #f9f9f9; /* Hintergrundfarbe festlegen */
  border: 1px solid #ccc; /* Rand festlegen */
  border-radius: 5px; /* Randradius festlegen */
  margin-left: 520px; /* Linken Abstand festlegen */
  width: calc(
    80% - 240px
  ); /* Breite festlegen (100% - Breite des Benutzerlistenbereichs) */
  height: 80vh;
}

.userInfo-div {
  margin-top: 80px;
  margin-left: 24px;
}

/* --------------- */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(226, 222, 222, 0.002);
  z-index: 2;
  cursor: pointer;

  animation: slide-in 0.8s both;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
.overlay-content2 {
  display: flex;
  width: 1212px;
  height: 592px;

  margin-top: 10%;
  margin-left: 16%;
  /*   top: -2901px;
  left: -1731px; */
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatteneffekt für das Overlay 
  */
}
.editLook {
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 8px 0px 0px 8px;
}
.addUserDaten {
  margin-top: 4%;
  margin-left: 4%;
}
/* -------------------- */
.editUserDaten {
  margin-top: 4%;
  margin-left: 4%;
}

.initialsEdit {
  margin-top: 216px;
  margin-left: 40px;
}
/* -------------------------- */
input {
  width: 360px;
  height: 48px;
  border-radius: 8px;
}
#editUserName {
  padding-left: 8px;
}
#newUserName {
  padding-left: 8px;
}
#editUserEmail {
  padding-left: 8px;
}
#newUserEmail {
  padding-left: 8px;
}
#editUserPhone {
  padding-left: 8px;
}
#newUserPhone {
  padding-left: 8px;
}
.addPersonPic {
  margin-top: 16%;
  margin-left: 4%;
}
/* ------------------------------------ img -------------------------- */
.imgCheck {
  margin-top: -8px;
}

.imgCancel {
  margin-top: -4px;
  width: 20px;
  height: 20px;
}
.imgClose {
  margin: 0px 320px 80px;
}
.iconPerson {
  background: url("./img/person.png");
  background-size: 20px;
  background-position: 320px 10px;
  background-repeat: no-repeat;
}

.iconMail {
  background: url("./img/mail.png");
  background-size: 20px;
  background-position: 320px 10px;
  background-repeat: no-repeat;
}
.iconCall {
  background: url("./img/call.png");
  background-size: 20px;
  background-position: 320px 10px;
  background-repeat: no-repeat;
}
/* ------------------------------------ End ---------------------------- */
.delete-save-btn {
  display: flex;
}
.delete-btn {
  margin-right: 8px;
  width: auto;
  height: auto;
}
.save-btn {
  width: auto;
  height: auto;
}
